@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    
    /*
    space-beetween : Mantém o espaço no meio, jogando cada  conteúdo para um lado.

    space-around: Cria um espaço ao redor dos conteúdos
    */
}

header > img {
    width: 180px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li + li{
    margin-left: 24px;
}

header a {
    color: #ebebeb;
    text-decoration: none;
    transition: color 0.2s;
}

header a:hover {
    color: #f13239;
}
